URxvt.background:		[95]#1F1D19
URxvt.depth:			32
URxvt.foreground:		#DEDEDE
URxvt.font:			xft:DejaVu Sans Mono:pixelsize=12:antialias=true:hinting=true
URxvt.boldFont:			xft:DejaVu Sans Mono:bold:pixelsize=12:antialias=true:hinting=true
URxvt.scrollBar:		false
URxvt.saveLines:		65535
Xft*dpi:       			96
Xft*antialias: 			True
Xft*hinting:   			Full
URxvt.clipboard.autocopy:	true
URxvt.url-launcher: 		/usr/bin/xdg-open
URxvt.matcher.button: 		1
URxvt.colorUL: 			#4682B4
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D
URxvt.perl-ext-common: default,ctrl_v_paste
URxvt.iso14755: false

URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1

xterm*foreground:   #DEDEDE
XTerm*renderFont: true
XTerm*faceName: VeraMono
XTerm*faceSize: 9

urxvt*depth: 32 
urxvt*background: rgba:0000/0000/0200/c800

urxvt*transparent: true
urxvt*shading: 30

xterm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(SELECT) \n\
                 Ctrl Shift <Key>C:    copy-selection(SELECT)
